
# Playwright
node_modules/
/test-results/
/playwright-report/
allure-results/
allure-report/
test-results/
playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/
/playwright.config.ts
.env
*MTTMY-*
*/sitemapXml.spec.ts
*/formSubmissionEvidence.spec.ts
*/allure-results/
*/allure-report/
test_cases_checklist.csv
*/pasadenaRidge404.spec.ts
local.log 
debug.log 
manual-tests.md 
*.log
*/generated.spec.ts
*/formProfaneSubmissionEvidence.spec.ts